<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP4 audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
				<string>audio/x-mpeg</string>
				<string>audio/x-mp3</string>
				<string>audio/x-mpeg3</string>
				<string>audio/mp3</string>
				<string>audio/mpeg3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP3 audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg-vorbis</string>
				<string>audio/ogg</string>
				<string>audio/x-ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OGG Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.ogg</string>
				<string>org.xiph.ogg-vorbis</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-flac</string>
				<string>audio/flac</string>
				<string>application/x-flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.flac</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aiff</string>
				<string>aif</string>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.aiff-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>wave</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-wav</string>
				<string>audio/wave</string>
				<string>audio/x-pn-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAVE audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.waveform-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
				<string>it</string>
				<string>xm</string>
				<string>s3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/it</string>
				<string>audio/xm</string>
				<string>audio/s3m</string>
				<string>audio/mod</string>
				<string>audio/x-mod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MOD audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mod-audio</string>
				<string>public.mod</string>
				<string>public.s3m</string>
				<string>public.it</string>
				<string>public.xm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-tta</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TRUE audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.true-audio</string>
				<string>public.tta</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wavpack</string>
				<string>audio/x-wavpack</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WavPack audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wavpack.wv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/speex</string>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Speex audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.speex.spx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/musepack</string>
				<string>audio/x-musepack</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Musepack audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.musepack.mpc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Audiofile.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/monkeys-audio</string>
				<string>audio/x-monkeys-audio</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Monkey's audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.monkeysaudio.ape</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Stereotype</string>
	<key>CFBundleIdentifier</key>
	<string>net.redf.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 redf.net. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>RFApplication</string>
</dict>
</plist>
